---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.vue';
import Hero from '../components/Hero.vue';
import Services from '../components/Services.vue';
import Footer from '../components/Footer.vue';
---

<Layout>
	<Header client:load />
	<main>
		<Hero client:load />
		<Services client:visible />
	</main>
	<Footer />
</Layout>
